.App {
  margin: 1rem;
  h1 {
    color: #0e64d2;
  }
  h4 {
    color: #263140;
  }
}

#landing-page {
  max-width: 100%;
}

// navbar css

#navbar {
  padding: 0 5rem 0 5rem;
  min-height: 5rem;
  border-color: rgb(228, 228, 228);

  .navbar__brand-img {
    width: 2rem;
  }

  .navbar__link {
    font-size: 1.3rem;
    margin-left: 2rem;
  }
}

// grid css

#grid {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  height: 40rem;
  margin: 2rem 5rem 0 5rem;
  border: 1px solid #e4e4e4;
  border-radius: 0.3rem;

  th,
  td {
    padding: 0.75rem;
  }

  tr:nth-child(even) {
    background-color: rgb(236, 236, 236);
  }

  th {
    position: sticky;
    top: 0;
    background: #0e64d2;
    color: white;
  }
}

// chart css

#chart__scatter {
  margin: 2rem 5rem 5rem 5rem;

  #chart__scatter-forms {
    display: flex;
  }

  .chart__scatter-form-select {
    min-width: 10rem;
  }

  .chart__scatter-forms--y-axis {
    margin-left: 5rem;
  }
}
